<!DOCTYPE html>
<html ng-app="testrest">
<head>
	<title>Test REST</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
	<script src="js/app.js"></script>
	<style type="text/css">
		.obj-box {
			display: inline-block;
			padding: 10px;
			margin: 5px;
			border: 1px dotted black;
		}
	</style>
</head>
<body> 
	<div ng-controller="ObjectController as ctrl">
		<h1>Test REST</h1>
		<h2>View Object By ID</h2>
		<div>
			ID: <input ng-model="ctrl.searchId">
			<button ng-click="ctrl.selectObjectById(ctrl.searchId)">Search by ID</button>
		</div>
		<div class="obj-box" >
			<h3>Object #{{ctrl.viewObject.id}}</h3>
			<div>a: {{ctrl.viewObject.a}}</div>
			<div>b: {{ctrl.viewObject.b}}</div>
			<div>c: {{ctrl.viewObject.c}}</div>
		</div>
		<h2>List Objects</h2>
		<div class="obj-box" ng-repeat="object in ctrl.objects">
			<h3>Object #{{object.id}}</h3>
			<div>a: {{object.a}}</div>
			<div>b: {{object.b}}</div>
			<div>c: {{object.c}}</div>
			<div><button ng-click="ctrl.editClick(object.id)">Edit</button></div>
			<div><button ng-click="ctrl.deleteObject(object.id)">Remove</button></div>
		</div>
		<h2>Edit Object</h2>
		<label>a: </label><input ng-model="ctrl.editObject.a">
		<label>b: </label><input ng-model="ctrl.editObject.b">
		<label>c: </label><input ng-model="ctrl.editObject.c">
		<button ng-click="ctrl.updateObject(ctrl.editObject)">Submit Changes</button>
		<h2>Add Object</h2>
		<label>a: </label><input ng-model="ctrl.addObject.a">
		<label>b: </label><input ng-model="ctrl.addObject.b">
		<label>c: </label><input ng-model="ctrl.addObject.c">
		<button ng-click="ctrl.insertObject(ctrl.addObject)">Add</button>
	</div>
</body>
</html>